<!DOCTYPE html>
<html >
<head lang="en" >
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta charset="UTF-8" >
    <title >支付状态</title >
    <link rel="stylesheet" href="/public/mobile/css/payment.css" />
</head >
<body >
<br ><br ><br ><br >
<div class="account_information" >
    <p class="balance" style="text-align:center" >{$msg}</p >
</div >
<!--客服QQ-->
<footer class="footer" >
    <a href="#" onclick=sswsdk_payNotify_all('{$info.order_id}') class="pay"  style="width:50px" >关闭</a >
</footer >
</body >
<script language='javascript' >
    function sswsdk_payNotify_all(order_id){
        if(order_id=='aa'){
           sswsdk_backgame(order_id);
        }else{
           sswsdk_payNotify(order_id);
        }
    }
    setTimeout("sswsdk_payNotify_all('{$info.order_id}')", 10);
</script >
<script src="/public/mobile/js/payment.js" ></script >
<script src="/public/mobile/js/fastclick.js" ></script >
</html >