<!DOCTYPE html>
<html >
<head lang="en" >
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta charset="UTF-8" >
    <title >{$data.title}</title >
    <link rel="stylesheet" href="/public/mobile/css/css_reset.css" />
    <link rel="stylesheet" href="/public/mobile/css/info_detail.css" />
</head >
<body >
<div >
    <header class="header" >
        <h3 class="news_title" >{$data.title}</h3 >
        <p ><span >{$data.createtime|date='Y-m-d  H:i:s',###}</span ></p >
    </header >
</div >
<div class="text_intro" >
    {$data.content}
</div >

</body >
</html >